body {
    background-image: url("../img/resort5.jpeg");
    background-repeat: repeat-x;
    background-size: 200%;
    color: blue;

}

img {
  opacity: 0.2;
}

h1{
  font-size: 95px;


}

p{
  font-size: 50px;
}

li{
  font-size:30px;
}
